{% extends 'admin/change_list.html' %} {%load static%}
 {% block content %}
  {{ block.super }}
   
  {% endblock %} 
  {% block object-tools%}

{% block extrahead %}
<script src="{%static 'duplicate/js/jquery-3.3.1.min.js' %}"></script>
<script src="{%static 'duplicate/js/change_list.js' %}"></script>

    <style>
        #fakebtn{
            display: inline;
            border-radius: 15px;
            cursor: pointer;
            padding: 3px 12px;
            background: #999;
            font-weight: 400;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #fff;
        }
    </style>
 {%endblock extrahead %} 

<ul class="object-tools">
    {% block object-tools-items %} 
    {% if has_add_permission %}
    <li>
        <a type="button"   id="fakebtn" >Fake data</a>
    </li>
    {{block.super}}
     {% endif %} 
     {%endblock%}
</ul>
{%endblock%}